/*Estilo para corpo da página*/
body{
  font-family: Arial, Helvetica, sans-serif;/*Fonte Simples*/
  background-color: #85f505;/*Cor de fundo cinza claro*/
  padding: 20px;/*Espaçamento interno*/
}

/*Estilo para o formulaário*/
form{
  background-color: rgb(247, 4, 4);/*Fundo Branco do formulaiare*/
  padding: 10px;/*Espaçamento interno do formulaiare*/
  border-radius: 8px;/*Arredondamento das bordas do formulaiare*/
  max-width: 300px;/*Largura maxima do formulaiare*/
  margin: auto;/*Centralizacao do formulaiare*/
  box-shadow: 0 0 10px rgba(0,0,0,0.1);/*Sombra do formulaiare*/
}

/*Estilo para os rótulos dos campos do formulairo*/
label{
  font-weight: bold;/*Negrito*/
  display: block;/*Bloco*/
  margin-bottom: 5px;/*Espaçamento abaixo do rótulo e do campo*/
}

/*Estilo para os campos do formulairo*/
input[type="text"], input[type="email"], input[type="password"]{
  width: 100%;/*Largura*/
  padding: 10px;/*Espaçamento interno*/
  border: 1px solid #6f00ff;/*Borda cinza*/
  border-radius: 4px;/*Arredondamento das bordas*/
  margin-bottom: 10px;/*Espaçamento abaixo do rótulo e do campo*/
}

/*Estilo para o botão de enviar*/
button{
  background-color: #003366;/*Cor de fundo azul*/
  color: rgb(255, 0, 170);/*Cor do texto branco*/
  padding: 10px 20px;/*Espaçamento interno*/
  border: none;/*Sem borda*/
  border-radius: 4px;/*Arredondamento das bordas*/
  cursor: pointer;/*Cursor de ponteiro*/
}

/*Efeito hover do botão de enviar*/
button:hover{
  background-color:red;/*Cor de fundo  branco*/
  color: #003366;/*Cor do texto azul*/
  border: 1px solid #007b;/*Borda azul*/
}
