/*Estilo para o corpo da página*/
body{
  display: flex;/*Flexbox*/
  flex-direction: column;/*Alinhamento vertical*/
  justify-content: center;/*Alinhamento vertical*/
  align-items: center;/*Alinhamento horizontal*/
  height: 100vh;/*Altura da viewport*/
  background-color: #003366;/*Cor de fundo escuro*/
  color: white;/*Cor do texto Branco*/
  font-family: Arial,sans-serif;/*Fonte Simples*/
}

/*Estilo para título da página*/
h2{
  margin-bottom: 20px;/*Espaçamento abaixo do  título e o corpo da página*/
}

/*Estilo para o formulaário*/
form{
  background-color: white;/*Fundo Branco do formulaário*/
  padding: 20px;/*Espaçamento interno do formulaário*/
  border-radius: 8px;/*Arredondamento das bordas do formulaário*/
  max-width: 300px;/*Largura maxima do formulaário*/
  margin: auto;/*Centralização do formulaário*/
  box-shadow: 0 0 10px rgba(0,0,0,0.1);/*Sombra do formulaário*/
}

/*Estilo para os rótulos dos campos do formulário*/
label{
  font-weight: bold;
  display: block;/*Definição de bloco*/
  margin-bottom: 5px;/*Espaçamento abaixo do rótulo*/
  color: black;/*Cor do rótulo*/
}

/*Estilo para os campos do Entrada de dados*/
input[type="email"],input[type="password"]{
  width: 100%;/*Largura*/
  padding: 8px;/*Espaçamento interno*/
  margin-bottom: 10px;/*Espaçamento abaixo*/
  border: 1px solid #ccc;/*Borda cinza*/
  border-radius: 4px;/*Arredondamento das bordas*/
}

/*Estilo para o botão de login*/
button{
  background-color: #007bff;/*Cor de fundo azul*/
  color: white;/*Cor do texto branco*/
  padding: 10px 20px;/*Espaçamento interno*/
  border: none;/*Sem borda*/
  border-radius: 4px;/*Arredondamento das bordas*/
  cursor: pointer;/*Cursor de ponteiro*/
  width: 100%;/*Largura*/
}
/*Efeito hover do botão de login*/
button:hover{
  background-color:red;/*Cor de fundo  branco*/
  color: #003366;/*Cor do texto azul*/
  border: 1px solid #007b;/*Borda azul*/
}
