/* Estilo para o header */
header {
    border: 40px solid rgb(163, 163, 177);
    text-align: center;
    margin: 0 60px;
}

/* Estilo para o título principal */
h1 {
    background-color: rgb(192, 176, 176);
    margin: 0 60px;
    border: 200px solid rgb(192, 176, 176);
    text-align: center;
}


.primeiro {
    background-color: rgb(183, 183, 187);
    margin-top: 80px;
}

.segundo {
    background-color: rgb(183, 183, 187);
    margin-top: -200px;
    margin-left: 320px;
}

.terceiro {
    background-color: rgb(183, 183, 187);
    margin-top: -200px;
    margin-left: 580px;
}

/* Estilo para a seção com fundo azul */
.pai {
    background-color: rgb(183, 183, 187);
    width: 90%; 
    height: 400px; 
    margin: 0 60px; 
    margin-left: 50px;
    display: flex;

/* Estilos para as seções vermelhas */
.quarto, .quinto, .sexto {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    margin-top: 200px;
}

.quarto {
    margin-top: 100px;
    margin-left: 5px;
    display: flex;
}

.quinto {
    margin-top: -200px;
    margin-left: 270px;
    display: flex;
}

.sexto {
    margin-top: -200px;
    margin-left: 530px;
    display: flex;
}